<div class="ui container">
  <h1 class="ui header">Мероприятия</h1>
  <!-- Вкладки -->
  <div class="ui top attached tabular menu">
    <%= link_to department_events_path(tab: 'approved'), 
                class: "item #{'active' if @active_tab == 'approved'}" do %>
      <i class="check circle icon"></i>
      Участвуем
      <div class="ui teal circular label"><%= participating_count(Department.find(params[:department_id])) %></div>
    <% end %>
    
    <%= link_to department_events_path(tab: 'offered'), 
                class: "item #{'active' if @active_tab == 'offered'}" do %>
      <i class="hourglass half icon"></i>
      Предложенные
      <div class="ui blue circular label"><%= offered_count(Department.find(params[:department_id])) %></div>
    <% end %>
    
    <%= link_to department_events_path(tab: 'my_events'), 
                class: "item #{'active' if @active_tab == 'my_events'}" do %>
      <i class="user icon"></i>
      Мои мероприятия
      <div class="ui green circular label"><%= my_events_count %></div>
    <% end %>
    
    <%= link_to events_path(tab: 'all'), 
                class: "item #{'active' if @active_tab == 'all'}" do %>
      <i class="list icon"></i>
      Все мероприятия
    <% end %>

    <% if can?(:create, Event.new) %>
      <div class="right item">
        <%= link_to new_event_path, class: 'ui primary button' do %>
          <i class="plus icon"></i> Создать мероприятие
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Контент вкладок -->
  <div class="ui bottom attached segment">
    <% if @events.empty? && @event_departments.empty?%>
      <div class="ui warning message">
        <div class="header">
          <%= empty_table_message %>
        </div>
      </div>
    <% else %>
      <%= render_table_for_tab %>
    <% end %>
  </div>
</div>

<%= render 'offer_modal' %>
<%= render 'approve_modal' %>

<% content_for :javascript_packs do %>
  <%= javascript_pack_tag 'events' %>
<% end %>