<%= form_with(model: department, html: { class: 'ui form' }) do |form| %>
  <% if department.errors.any? %>
    <div class="ui error message">
      <div class="header">
        <%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:
      </div>
      <ul class="list">
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Скрытое поле для parent_id -->
  <%= form.hidden_field :parent_id, value: params[:parent_id] %>

  <div class="field">
    <%= form.label :name, "Название подразделения" %>
    <%= form.text_field :name, placeholder: "Введите название подразделения" %>
  </div>

  <div class="field">
    <%= form.label :description, "Описание" %>
    <%= form.text_area :description, placeholder: "Введите описание подразделения", rows: 3 %>
  </div>

  <div class="ui buttons">
    <%= form.submit "Сохранить подразделение", class: 'ui primary button' %>
    <%= link_to 'Отмена', 
                params[:parent_id].present? ? department_path(params[:parent_id]) : departments_path, 
                class: 'ui button' %>
  </div>
<% end %>