<%= form_with model: @event do |f| %>
    <div>
        <%= f.label :Название%>
        <%= f.text_field :title, required: true, minlenght: 2, placeholder: "Название" %>
    </div>
    <div>
        <%= f.label :Описание%>
        <%= f.text_field :description, placeholder: "Описание" %>
    </div>
    
    <div>
        <%= f.label :"Количество участников"%>
        <%= f.text_field :people, placeholder: "Количество участников" %>
    </div>
    <%= f.submit "Создать" %>
<% end %>