<table class="ui celled table">
  <thead>
    <tr>
      <th class="center aligned">ID</th>
      <th>Название</th>
      <th>Описание</th>
      <th class="center aligned">Наши участники</th>
      <th class="center aligned">Всего участников</th>
      <th class="center aligned">Утверждено</th>
      <th class="center aligned">Статус</th>
      <th class="center aligned">Действия</th>
    </tr>
  </thead>
  
  <tbody>
    <% event_departments.each do |ed| %>
      <tr>
        <td class="center aligned"><%= ed.event.id %></td>
        <td><%= ed.event.title %></td>
        <td><%= truncate(ed.event.description, length: 80) %></td>
        <td class="center aligned">
        <div class="ui teal circular label">
          <%= ed.participants_count %>
        </div>
        </td>
        <td class="center aligned">
          <div class="ui blue circular label">
            <%= ed.event.people %>
          </div>
        </td>
        <td class="center aligned">
          <% if ed%>
            <%= ed.created_at.strftime('%d.%m.%Y') %>
            <%= ed.approved_by.full_name %> 
          <% end %>
        </td>
        <td class="center aligned">
          <%= render_event_status(ed.event, ed.department) %>
        </td>
        <td class="center aligned">
          <%= render_event_buttons(ed) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>