<%# app/views/plans/show.html.erb %>
<div class="ui container">
  <div class="ui segment">
    <h1 class="ui header">
      <%= @plan.title %>
      <div class="sub header">
        Период: <%= @plan.start_date.strftime('%d.%m.%Y') %> - <%= @plan.end_date.strftime('%d.%m.%Y') %>
        <% if @plan.ongoing? %>
          <span class="ui green horizontal label">Активен</span>
        <% elsif @plan.upcoming? %>
          <span class="ui blue horizontal label">Предстоящий</span>
        <% else %>
          <span class="ui grey horizontal label">Завершен</span>
        <% end %>
      </div>
    </h1>
    
    <% if @plan.description.present? %>
      <div class="ui segment">
        <h3 class="ui header">Описание плана</h3>
        <p><%= simple_format(@plan.description) %></p>
      </div>
    <% end %>
    
    <div class="ui three statistics">
      <div class="statistic">
        <div class="value">
          <i class="building icon"></i>
          <%= @plan.department.name %>
        </div>
        <div class="label">Подразделение</div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="user icon"></i>
          <%= @plan.creator.surname %> <%= @plan.creator.name.first %>.
        </div>
        <div class="label">Создатель</div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="calendar check icon"></i>
          <%= @plan.plan_events.count %>
        </div>
        <div class="label">Мероприятий в плане</div>
      </div>
    </div>
    
    <!-- Секция с мероприятиями -->
    <div class="ui segment">
      <div class="ui two column grid">
        <div class="column">
          <h3 class="ui header">
            <i class="calendar icon"></i>
            Мероприятия в плане
          </h3>
        </div>
        <div class="column right aligned">
          <% if can?(:add_event, @plan.department) %>
            <%= link_to add_events_plan_path(@plan), class: 'ui primary button' do %>
              <i class="plus icon"></i> Добавить мероприятия
            <% end %>
          <% end %>
          <% if can?(:update, @plan) %>
            <%= link_to edit_department_plan_path(@plan), class: 'ui button' do %>
              <i class="edit icon"></i> Редактировать план
            <% end %>
          <% end %>
        </div>
      </div>
      
      <% if @plan.plan_events.any? %>
        <%= render partial: 'events_table', 
                   locals: { plan_events: @plan.plan_events.includes(event_department: [:event, :department]).order(:position) } %>
      <% else %>
        <div class="ui info message">
          <div class="header">В плане пока нет мероприятий</div>
          <p>Добавьте мероприятия, чтобы начать работу с планом.</p>
          <% if can?(:add_event, @plan.department) %>
            <%= link_to add_events_plan_path(@plan), class: 'ui primary button' do %>
              <i class="plus icon"></i> Добавить мероприятия
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <div class="ui segment">
      <div class="ui buttons">
        <%= link_to department_plans_path(@department), class: 'ui button' do %>
          <i class="arrow left icon"></i> К списку планов
        <% end %>
        
        <% if can?(:add_event, @plan.department) && @plan.plan_events.any? %>
          <%= link_to add_events_plan_path(@plan), class: 'ui button' do %>
            <i class="plus icon"></i> Добавить ещё
          <% end %>
        <% end %>
        
        <% if can?(:delete, @plan) %>
          <%= link_to @plan, 
                method: :delete,
                class: 'ui red button',
                data: { 
                  confirm: "Удалить план '#{@plan.title}'? Все мероприятия будут удалены из плана." 
                } do %>
            <i class="trash icon"></i> Удалить план
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>