<div class="ui container">
  <div class="ui segment">
    <h1 class="ui header">
      <i class="edit icon"></i>
      Редактирование плана
      <div class="sub header">
        <%= @plan.title %>
      </div>
    </h1>
    
    <div class="ui info message">
      <div class="header">Информация о плане</div>
      <ul class="list">
        <li>Подразделение: <strong><%= @plan.department.name %></strong></li>
        <li>Создатель: <strong><%= @plan.creator.full_name %></strong></li>
        <li>Создан: <strong><%= @plan.created_at.strftime('%d.%m.%Y %H:%M') %></strong></li>
        <li>Мероприятий в плане: <strong><%= @plan.plan_events.count %></strong></li>
      </ul>
    </div>
    
    <%= render 'form', plan: @plan %>
    
    <div class="ui segment">
      <div class="ui buttons">
        <%= link_to @plan, class: 'ui button' do %>
          <i class="arrow left icon"></i> Назад к плану
        <% end %>
        <%= link_to events_plan_path(@plan), class: 'ui button' do %>
          <i class="calendar icon"></i> Управление мероприятиями
        <% end %>
        <%= link_to plans_path, class: 'ui button' do %>
          <i class="list icon"></i> К списку планов
        <% end %>
      </div>
    </div>
  </div>
</div>