<!DOCTYPE html>
<html>
<head>
  <title>Планирование - АмГУ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#016559">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Semantic UI и кастомные стили -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <!-- Font Awesome для иконок -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
  <style>
    .amgu-green {
      background: #016559 !important;
    }
    .amgu-light-green {
      background: #00796b !important;
    }
    .amgu-green-title-text {
      color: #016559;
      font-weight: 600;
    }
    
    .amgu-green-title-text:hover {
      text-decoration: underline;
    }
    
    @media only screen and (max-width: 767px) {
      .ui.main.container {
        width: 100% !important;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      
      .ui.segment.basic {
        padding: 0 !important;
      }
      
      .ui.secondary.fixed.main.menu {
        position: sticky !important;
        top: 0;
      }
      
    }
    .smart-link {
      color: inherit;
      text-decoration: none;
    }

    .smart-link:hover {
      text-decoration: underline;
      color: inherit;
      opacity: 0.8;
    }

    .smart-link-wrapper {
      display: inline-block;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="pusher ui personal-column">
    <div class="ui segment basic" style="padding: 0; margin: 0;">
      <%= render 'layouts/amgu_taken_user_panel_form' %>
      
      <div class="ui main container" style="margin-top: 4em;">
      </div>
      
      <% if user_signed_in? %>
        <%= render 'layouts/planning_nav_menu_form' %>
        <%= render 'layouts/user_info_panel_form' %>
      <% end %>

      <!-- Flash сообщения -->
      <div class="ui main container" style="margin-top: 1em;">
        <% flash.each do |key, message| %>
          <% message_class = case key.to_s
                            when 'notice' then 'success'
                            when 'alert'  then 'warning'
                            when 'error'  then 'error'
                            else key.to_s
                            end %>
          
          <div class="ui <%= message_class %> message flash-message">
            <i class="close icon"></i>
            <div class="header">
              <%= message %>
            </div>
          </div>
        <% end %>
      </div>

      <% flash.clear %>
      
      <script>
        document.addEventListener('turbolinks:load', function() {
          $('.flash-message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
          });
          
          // Автоматическое скрытие flash-сообщений через 5 секунд
          setTimeout(function() {
            $('.flash-message').transition('fade');
          }, 5000);
        });
      </script>

      <!-- Основной контент страницы -->
      <div class="ui main container" style="margin-top: 1em; margin-bottom: 2em;">
        <%= yield %>
      </div>
    </div>
  </div>
  
  <%= yield :javascript_packs %>
</body>
</html>